.sidebar {
	background: var(--neutral-layer-1);
	min-height: 100vh;
	width: 250px;
}

.top-bar {
	background: var(--neutral-layer-2);
	border-bottom: 1px solid var(--neutral-stroke-rest);
	padding: 1rem 2rem;
}

.content {
	padding: 2rem;
	flex: 1;
}

@media (max-width: 640px) {
	.sidebar {
		width: 100%;
		min-height: auto;
	}
}
