@inherits LayoutComponentBase

<FluentLayout Class="app-shell">
	<Header />
    <main class="content">
        <div class="content-shell">
            <AccountStatusBanner />
            @Body
        </div>
    </main>
    <Footer />
</FluentLayout>
