{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "AzureAd_TenantId": "YOUR_TENANT_ID_HERE",
    "AzureAd_ClientId": "YOUR_CLIENT_ID_HERE",
    "AzureAd_ClientSecret": "YOUR_CLIENT_SECRET_HERE"
  }
}
